* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Baloo Da 2', cursive;
}

html {
    font-size: 62.5%;
}

.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: -8rem;
    z-index: 10;
    padding: 3rem;
    transition: all .5s;
    animation: navbar 1s .1s forwards;
}

@keyframes navbar {
    0% {
        top: -8rem;
    }
    100% {
        top: 0;
    }
}

.navbar.change {
    height: 100vh;
}

.logo {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
}

.logo a {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: #eee;
    letter-spacing: .3rem;
}

.logo span {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    font-weight: bold;
    color: #9b0e0e;
}

.nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all .4s .3s;
}

.nav-link {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    letter-spacing: .4rem;
    color: #eee;
    margin: 2rem 0;
    transition: color .4s;
}

.nav-link:hover {
    color: #9b0e0e;
}

.menu {
    width: 4rem;
    height: 4rem;
    background-color: #000;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    animation: navbar 1s .2s;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
    transition: transform .5s;
}

.line-1 {
    width: 50%;
}

.change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}

.change .line-3 {
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
}

.section-1  {
    width: 100%;
    height: 100vh;
    background-image: url('images/dark-bg.jpeg');
    background-size: cover;
    position: relative;
}

.banner {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading {
    margin-bottom: 4rem;
    height: 20rem;
    perspective: 50rem;
    overflow: hidden;
}

.banner-heading span {
    font-family: 'Oswald', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
}

.heading-1 {
    animation: heading 12s 3s infinite;
}

.heading-2 {
    animation: heading 12s 6s infinite;
}

.heading-3 {
    animation: heading 12s 9s infinite;
}

.heading-4 {
    animation: heading 12s 12s infinite;
}

@keyframes heading {
    0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

.banner-text {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    width:30%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1s forwards;
}

.banner-btn {
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: .1rem   solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, .5);
    text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, .5);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
    position: relative;
    overflow: hidden;
}

.banner-btn::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 1s;
}

.banner-btn:hover::before {
    left: 100%;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222020;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    position: relative;
}

.section-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 10rem;
    font-weight: 300;
    color: #ddd;
    margin-right: 4rem;
}

.section-heading-line {
    width: 15rem;
    height: 0.2rem;
    background-color: #ddd;
}

.video-wrapper {
    width: 80rem;
    height: 45rem;
    position: absolute;
    top: 11rem;
    right: 7rem;
    box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: transform .4s;
}

.video-wrapper:hover .controls {
    transform: translateY(0);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
    transition: opacity .3s;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    transform: translateY(calc(100% - .4rem));
    transition: transform .4s;
}

.video-bar-wrapper {
    width: 100%;
    height: 0.7rem;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.video-bar {
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width .2s linear;
}

.video-bar-buttons {
    padding: 1.5rem 1rem 1rem 1rem;
}

.video-bar-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.video-bar-buttons i {
    color: #fff;
    font-size: 2rem;
}

.section-2-text {
    width: 100rem;
    position: absolute;
    bottom: 8rem;
    right: 7rem;
    color: #ddd;
    font-size: 2rem;
    border-top: .3rem double #aaa;
    border-bottom: .3rem double #aaa;
    text-align: justify;
    line-height: 1.7;
}

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.pricing-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pricing-card {
    width: 20rem;
    height: 38rem;
    background-color: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, .7);
}

.card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.heading-free {
    background: linear-gradient(to right, #087285, #0da5d3);
    border-radius: 1rem 1rem 0 0;
}

.heading-basic {
    background: linear-gradient(to right, #946809, #bdba0e);
    border-radius: 1rem 1rem 0 0;
}

.heading-standard {
    background: linear-gradient(to right, #a10c14, #e25b5b);
    border-radius: 1rem 1rem 0 0;
}

.heading-premium {
    background: linear-gradient(to right, #0b7e48, #5be286);
    border-radius: 1rem 1rem 0 0;
}

.card-price {
    font-family: 'Bebas Neue', cursive;
    font-size: 7rem;
    color: #fff;
    font-weight: 700;
}

.card-list li {
    margin-bottom: .5rem;
}

.list-free li {
    color: #0da5d3
}
.list-basic li {
    color: #bdba0e
}
.list-standard li {
    color: #e23b3b
}
.list-premium li {
    color: #3be286
}

.card-list i{
    font-size: 1.3rem;
    width: 3rem;
}

.card-list span {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

.card-button {
    width: 18rem;
    height: 5rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
}

.btn-free {
    background-color: #0da5d3;
}

.btn-basic {
    background-color: #bdba0e;
}

.btn-standard {
    background-color: #e23b3b;
}

.btn-premium {
    background-color: #3be286;
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(-180deg);
    border-radius: 1rem;
}

.back-free {
    background: linear-gradient(to right, #087285, #0da5d3);
}

.back-basic {
    background: linear-gradient(to right, #946809, #bdba0e);
}

.back-standard {
    background: linear-gradient(to right, #a10c14, #e25b5b);
}

.back-premium {
    background: linear-gradient(to right, #0b7e48, #5be286);
}

.card-back a{
    font-size: 2.5rem;
    color: #fff;
}